{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Listar Fabricantes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content">
        <h2>Listar Fabricantes</h2>
        <a href="{% url 'home' %}" class="home-button">Voltar para Home</a>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <ul>
            {% for fabricante in fabricantes %}
                <li>{{ fabricante.nome }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>