{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Listar Produtos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content">
        <h2>Listar Produtos</h2>
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Lote</th>
                    <th>Validade</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                    <th>Valor Total</th>
                    <th>Estoque Total</th>  </tr>
            </thead>
            <tbody>
                {% for item in produtos_com_estoque %}
                    {% for entrada in item.detalhes_entradas %}
                        <tr>
                            <td>{{ item.produto.descricao }}</td>
                            <td>{% if entrada.lote %}{{ entrada.lote }}{% else %}Sem lote{% endif %}</td>
                            <td>{% if entrada.validade %}{{ entrada.validade|date:"d/m/Y" }}{% else %}Sem validade{% endif %}</td>
                            <td>{{ entrada.quantidade }}</td>
                            <td>{{ entrada.valor_unitario }}</td>
                            <td>{{ entrada.valor_total }}</td>
                            <td>{{ item.produto.estoque }}</td>  </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{% url 'home' %}" class="home-button">Voltar para Home</a>
    </div>
</body>
</html>