{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Listar Fabricantes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content">
        <h2>Listar Fabricantes</h2>
        

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                {% for fabricante in fabricantes %}
                    <tr>
                        <td>{{ fabricante.nome }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{% url 'home' %}" class="home-button">Voltar para Home</a>
    </div>
</body>
</html>
