{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Listar Pacientes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content">
        <h2>Listar Pacientes</h2>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data de Nascimento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                    <tr>
                        <td>{{ paciente.nome }}</td>
                        <td>{{ paciente.data_nascimento|date:"d/m/Y" }}</td>
                        <td>
                            <form method="post" action="{% url 'excluir_paciente' paciente.id %}">
                                {% csrf_token %}
                                <button type="submit" class="delete-button">Excluir</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <a href="{% url 'home' %}" class="home-button">Voltar para Home</a>
    </div>
</body>
</html>