{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Listar Fornecedores</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content">
        <h2>Listar Fornecedores</h2>
     

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                {% for fornecedor in fornecedores %}
                    <tr>
                        <td>{{ fornecedor.nome }}</td>
                        <td>{{ fornecedor.endereço }}</td>
                        <td>{{ fornecedor.telefone }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{% url 'home' %}" class="home-button">Voltar para Home</a>
    </div>
    
</body>
</html>