{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Listar Entradas de Estoque</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content">
        <h2>Listar Entradas de Estoque</h2>
        

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Lote</th>
                    <th>Validade</th>
                    <th>Valor Unitário</th>
                    <th>Valor Total</th>
                    <th>Data</th>
                    <th>Fornecedor</th>
                </tr>
            </thead>
            <tbody>
                {% for entrada in entradas %}
                    {% for item in entrada.itens.all %}
                        <tr>
                            <td>{{ item.produto.descricao }}</td>
                            <td>{{ item.quantidade }}</td>
                            <td>{{ item.lote }}</td>
                            <td>{{ item.validade|date:"d/m/Y" }}</td>
                            <td>{{ item.valor_unitario }}</td>
                            <td>{{ item.valor_total}}</td>
                            <td>{{ entrada.nota_fiscal.data_nota|date:"d/m/Y" }}</td>
                            <td>{{ entrada.nota_fiscal.fornecedor.nome }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
            
        </table>
        <br>
        <a href="{% url 'home' %}" class="home-button">Voltar para Home</a>
    </div>
</body>
</html>