{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saiba Mais - SGIS</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="conteudo_saiba_mais">
        <h2 class="apresentacao-texto-titulo_saiba_mais">O que é o SGIS?</h2>
        <br>
        <p class="apresentacao-texto-saiba-mais">
            O SGIS é uma plataforma completa e intuitiva desenvolvida para otimizar o gerenciamento de insumos sociais, auxiliando organizações e instituições na administração eficiente de recursos e na melhoria contínua dos serviços prestados à comunidade.
        </p>
        <br>
        <h2 class="apresentacao-texto-titulo_saiba_mais">Nossos Objetivos</h2>
        <br>
        <p class="apresentacao-texto-saiba-mais"> - Simplificar e automatizar processos de gestão de insumos.</p>
        <p class="apresentacao-texto-saiba-mais"> - Garantir a disponibilidade e o controle adequado dos recursos.</p>
        <p class="apresentacao-texto-saiba-mais"> - Fornecer dados e relatórios precisos para tomada de decisões estratégicas.</p>
        <p class="apresentacao-texto-saiba-mais"> - Promover a transparência e a eficiência na utilização dos recursos.</p>
        <p class="apresentacao-texto-saiba-mais"> - Contribuir para a melhoria da qualidade dos serviços sociais.</p>
        <br>
        <h2 class="apresentacao-texto-titulo_saiba_mais">Funcionalidades Principais</h2>
        <br>
        <p class="apresentacao-texto-saiba-mais"> - Cadastro e controle de insumos (materiais, equipamentos, etc.).</p>
        <p class="apresentacao-texto-saiba-mais"> - Gestão de estoque e inventário.</p>
        <p class="apresentacao-texto-saiba-mais"> - Controle de entradas e saídas de insumos.</p>
        <p class="apresentacao-texto-saiba-mais"> - Emissão de relatórios e gráficos personalizados.</p>
        <p class="apresentacao-texto-saiba-mais"> - Integração com outros sistemas (se aplicável).</p>
        <p class="apresentacao-texto-saiba-mais"> - Controle de acesso e permissões de usuários.</p>
        <br>
        <h2 class="apresentacao-texto-titulo_saiba_mais">Benefícios para sua Organização</h2>
        <br>
        <p class="apresentacao-texto-saiba-mais"> - Redução de custos e desperdícios.</p>
        <p class="apresentacao-texto-saiba-mais"> - Otimização do tempo e dos recursos humanos.</p>
        <p class="apresentacao-texto-saiba-mais"> - Melhoria na qualidade dos serviços prestados.</p>
        <p class="apresentacao-texto-saiba-mais"> - Aumento da transparência e da credibilidade da organização.</p>
        <p class="apresentacao-texto-saiba-mais"> - Tomada de decisões mais assertivas e baseadas em dados.</p>
        <br>
        <h2 class="apresentacao-texto-titulo_saiba_mais">Entre em Contato</h2>
        <br>
        <p class="apresentacao-texto-saiba-mais"> - Para mais informações ou para solicitar uma demonstração do SGIS, entre em contato conosco:</p>
        <p class="apresentacao-texto-saiba-mais"> - Email: contato@sgis.com.br</p>
        <p class="apresentacao-texto-saiba-mais"> - Telefone: (XX) XXXX-XXXX</p>

        <br>
    <a href="{% url 'home' %}" class="home-button">Voltar para Home</a>
    </div>
    
    <footer>
        <p>&copy; 2024 SGIS. Todos os direitos reservados.</p>
    </footer>
</body>
</html>